.body{
  background-color: #15161f;
}


button{
  background-color: #444444;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center
}

.center-btn {
  display: flex;
  width: 95%;
  flex-grow:1;
}
.left_arrow_btn{
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  
}

.left_arrow_btn:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
.right_arrow_btn{
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  
}

.right_arrow_btn:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

h1 {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center
}

.daytext{
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white
}


.center-btn{
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
}

.center-tbl{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
}

table {
  width:95%;
}

/*OPPSETT AV TOP, TOPNAV, SIDENAV, MAIN, RIGHT OG FOOTER:*/


#events-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 97%;
  padding: 20px;
  color: white;
  text-align: center;
}

#events-table td, #events-table th {
  border: 1px solid #cccccc;
  padding: 8px;
}

.firstrow {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #232433;
  color: white;}

.distance-from-sides {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
}
